#quiz {
  display: none;
}

#result1 {
  display: none;
}

#result2 {
  display: none;
}

#result3 {
  display: none;
}

#retake {
  display: none;
}

body {
  background-color: #c5e8f7;
}

img {
  float: right;
}
